@model LocationModel
<div class="page-header">
    <h3 class="page-title"> Location</h3>
</div>
<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            @if (Model.LocationId != 0)
            {
                <h4 class="card-title">Update Location</h4>
            }
            else
            {
                <h4 class="card-title">Add Location </h4>
            }
            <form class="forms-sample" method="post" role="form" enctype="multipart/form-data"asp-controller="Location" asp-action="Save">
                <input type="hidden" asp-for="LocationId" />
                <div class="form-group">
                    <label for="exampleInputUsername1">Enter Location</label>
                    <input asp-for="LocationName" type="text" class="form-control" id="exampleInputUsername1" placeholder="Username">
                    <span asp-validation-for="LocationName" class="text-danger"></span>
                </div>
                @if (Model.LocationId != 0)
                {
                    <button type="submit" class="btn btn-gradient-primary me-2">Update Location</button>
                }
                else
                {
                    <button type="submit" class="btn btn-gradient-primary me-2">Add Location</button>
                }
            </form>
        </div>
    </div>
</div>
